.list-elements{
  margin: 5px 30px;
}

.info-board{
   display: grid;
    grid-template-columns: 300px 1fr 300px;
}

.panel{
  display: grid;
  grid-template-rows: 50% 50% ;
}

.panel .container-chart{
   display: flex;
   flex-direction: row;
   justify-content: center;
    align-items: center;
   
   border-radius: 0px 0px 0px 0px;
-moz-border-radius: 0px 0px 0px 0px;
-webkit-border-radius: 0px 0px 0px 0px;
border: 5px solid #607de8;
margin:5px 5px 0px 5px; 
}

.icon-plus{
  color: #e8ecf2;
}

.icon-plus:hover{
  color: #6093e0;
}

.map-not-available {
    z-index: -1;
}

.map-available {
    z-index: 1;
}

.select-input{
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.FormSelect {
    width: 300px;
    }
