.list-elements{
  margin: 5px 30px;
}

.info-board{
   display: grid;
    grid-template-columns: 350px 1fr 350px;
}

.panel{
  display: grid;
  grid-template-rows: 50% 50% ;
}

.panel .container-chart{
   display: flex;
   flex-direction: row;
   justify-content: center;
    align-items: center;
  
margin:5px 5px 0px 5px; 
}

.chart-name{
  text-align: center;
  color:  #6093e0;
  font-weight: 700
}

.icon-plus{
  color: #e8ecf2;
}

.icon-plus:hover{
  color: #6093e0;
}

.map-not-available {
    z-index: -1;
}


.map-available {
    z-index: 1;
}

.select-input{
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.FormSelect {
    width: 300px;
    }

    .center-timeline{
      display: flex;
      justify-content: center;
    }
